# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: packAndPushToNuget

on:
  push:
    tags:
      - 'v*'  # Ex: v1.0.0

jobs:
  push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        filter: tree:0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
          global-json-file: global.json
    - name: pack
      run: dotnet pack

    - name: push
      run: dotnet nuget push .\artifacts\package\release\*.nupkg